h1 {
    padding-bottom: 10pt;
}

a {
    text-decoration: none;
}

label {
    font-weight: bold;
}

.tt {
    font-family: "Fira Code", "Consolas", "Courier New", monospace;
}

.red {
    color: red;
}
.b {
    font-weight: bold;
}