body {
    padding-bottom: 80px; /* Altezza approssimativa del footer */
}

h1 {
    padding-bottom: 10pt;
}

a {
    text-decoration: none;
}

label {
    font-weight: bold;
}

.tt {
    font-family: "Fira Code", "Consolas", "Courier New", monospace;
}

.red {
    color: red;
}
.b {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.double-underline {
    text-decoration: underline underline;
}

.sale-totally_canceled {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: red;
}

.sale-partially_canceled {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: orange;
}

@media (max-width: 768px) {
    footer {
        position: relative !important;
    }
}