body {

    --bg-color: #c3d5ed;
    --accent-color: #071d49;
    padding-bottom: 80px; /* Altezza approssimativa del footer */
}

h1 {
    padding-bottom: 10pt;
    font-family: "QuicheDisplay-Light", serif;
    font-weight: bold;
    color: var(--accent-color);
}

h2 {
    font-family: "QuicheDisplay-Light", serif;
    color: var(--accent-color);
}

a {
    text-decoration: none;
}

label {
    font-weight: bold;
}

th, td {
    text-align: center;
}

.total-row td {            /* each cell gets the thick top border */
    border-top:4px solid #000;
}

.tt {
    font-family: "Fira Code", "Consolas", "Courier New", monospace;
}

.red {
    color: red;
}
.b {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.double-underline {
    text-decoration: underline underline;
}

.uppercase {
    text-transform: uppercase;
}

/* .numeric {
    text-align: right;
} */

.sale-totally_canceled {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: red;
}

.sale-partially_canceled {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: orange;
}

.special {
    font-family: "QuicheDisplay-Light", serif;
    color: var(--accent-color);

}

.nav-link {
    text-wrap: nowrap;
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: red ;
}

@media (max-width: 768px) {
    footer {
        position: relative !important;
    }
}